<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book of my Happy Tree Friends!</title>
</head>
<body>
{{ friend | json }}
<!-- Might replace the form by an angular form -->
<form #formName="ngForm">
  <input type ="text" placeholder ="First name:" name="firstName" #firstName="ngModel" ngModel [(ngModel)]="friend.firstName">
  <input type ="text" placeholder ="Last name:" name="lastName" #lastName="ngModel" ngModel [(ngModel)]="friend.lastName">
  <input type ="text" placeholder ="Email:" name="email" #email="ngModel" ngModel [(ngModel)]="friend.email">
  <input type ="text" placeholder ="Phone number:" name="phoneNumber" #phoneNumber="ngModel" ngModel [(ngModel)]="friend.phoneNumber">
  <label for="favouriteLanguage">My favourite language is:</label>
  <select name="favouriteLanguage" id="favouriteLanguage" #favouriteLanguage="ngModel" ngModel [(ngModel)]="friend.favouriteLanguage">
    <option  *ngFor="let langauge of languageArray; let i = index">
      {{ langauge }}
    </option>
  </select>
  <button type ="submit" name="submitForm">Submit</button>
</form>

</body>
</html>
