<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book of my Happy Tree Friends!</title>
</head>
<body>
{{ friend | json }}
<!-- Might replace the form by an angular form -->
<form #friendForm="ngForm" (ngSubmit)="submitForm()">
  <input required type ="text" placeholder ="First name:" name="firstName"
         #firstName="ngModel" ngModel [(ngModel)]="friend.firstName"
         [class.wrongInput]="firstName.invalid && firstName.touched"
         pattern="[a-zA-Z ]+" formnovalidate>
  <div *ngIf="firstName.invalid && firstName.touched" class ="errorInput">First name is invalid</div>

  <input required type ="text" placeholder ="Last name:" name="lastName"
         #lastName="ngModel" ngModel [(ngModel)]="friend.lastName"
         [class.wrongInput]="lastName.invalid && lastName.touched"
          pattern="[a-zA-Z ]+">
  <div *ngIf="lastName.invalid && lastName.touched" class ="errorInput">Last name is invalid</div>

  <input required type ="text" placeholder ="Email:" name="email"
         #email="ngModel" ngModel [(ngModel)]="friend.email"
         pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
         [class.wrongInput]="email.invalid && email.touched">
  <div *ngIf="email.invalid && email.touched" class ="errorInput">Email is invalid</div>

  <input required type ="text" placeholder ="Phone number:" name="phoneNumber"
         #phoneNumber="ngModel" ngModel [(ngModel)]="friend.phoneNumber"
         pattern="^(((\+|00)32[ ]?(?:\(0\)[ ]?)?)|0){1}(4(60|[789]\d)\/?(\s?\d{2}\.?){2}(\s?\d{2})|(\d\/?\s?\d{3}|\d{2}\/?\s?\d{2})(\.?\s?\d{2}){2})$"
         [class.wrongInput]="phoneNumber.invalid && phoneNumber.touched">
  <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class ="errorInput">Phone number name is invalid</div>

  <label for="favouriteLanguage">My favourite language is:</label>
  <select required name="favouriteLanguage" id="favouriteLanguage"
          #favouriteLanguage="ngModel" ngModel [(ngModel)]="friend.favouriteLanguage"
          [class.wrongInput]="favouriteLanguage.invalid && favouriteLanguage.touched">
    <option  *ngFor="let langauge of languageArray; let i = index">
      {{ langauge }}
    </option>
  </select>
  <div *ngIf="favouriteLanguage.invalid && favouriteLanguage.touched" class ="errorInput">Please select your favourite language</div>
  <button type ="submit" name="submitForm" [disabled]="friendForm.form.invalid">Submit</button>
</form>

</body>
</html>
